<script>inicis.functions.init()</script>
<div id="content" class="content">
    <h2>이니시스 결제</h2>
    <form id="paymentForm" name="paymentForm">

        <!-- 필수 파라미터 -->
        <label for="version">전문 버전</label>
        <input type="text" id="version" name="version" value="1.0" readonly/><br><br>

        <label for="oid">주문 번호</label>
        <input type="text" id="oid" name="oid" value="INIpayTest_oid" readonly><br><br>

        <label for="price">거래 금액</label>
        <input type="number" id="price" name="price" value="1004"><br><br>

        <label for="use_chkfake">PC결제 보안강화 사용 여부</label>
        <input type="text" id="use_chkfake" name="use_chkfake" value="Y" readonly><br><br>

        <label for="currency">통화 구분</label>
        <input type="text" id="currency" name="currency" value="WON" readonly><br><br>

        <label for="goodname">상품명</label>
        <input type="text" id="goodname" name="goodname" value="테스트상품" required><br><br>

        <label for="buyername">구매자 이름</label>
        <input type="text" id="buyername" name="buyername" value="테스터2" required><br><br>

        <label for="buyertel">구매자 전화번호</label>
        <input type="text" id="buyertel" name="buyertel" value="010-1234-5648" required><br><br>

        <label for="buyereemail">구매자 이메일</label>
        <input type="email" id="buyereemail" name="buyereemail" value="teswt@test.com" required><br><br>

        <label for="returnUrl">결과 수신 URL</label>
        <input type="text" id="returnUrl" name="returnUrl" value="" readonly><br><br>

        <label for="closeUrl">결제창 닫기 URL</label>
        <input type="text" id="closeUrl" name="closeUrl" value="" readonly><br><br>

        <label for="popupUrl">팝업창 URL</label>
        <input type="text" id="popupUrl" name="popupUrl" value="https://manual.inicis.com/pay/demo/popup.php" readonly><br><br>

        <label for="acceptmethod">추가 옵션</label>
        <input type="text" id="acceptmethod" name="acceptmethod" value="HPP(1):below1000:va_receipt:centerCd(Y)" readonly><br><br>

        <!-- 필수 파라미터 (숨김) -->
        <input type="hidden" id="mid" name="mid" value="" />
        <input type="hidden" id="signature" name="signature" value="" />
        <input type="hidden" id="verification" name="verification" value="" />
        <input type="hidden" id="mKey" name="mKey" value="" />
        <input type="hidden" id="timestamp" name="timestamp" value="" />
        <input type="hidden" id="gopaymethod" name="gopaymethod" value="" />
        <input type="hidden" id="merchantData" name="merchantData" value="" />

        <button type="button" onclick="inicis.functions.inicisPay()">결제하기</button>
    </form>
</div>
