/* public/stylesheets/style.css */

/* 추가적인 커스텀 스타일 */
.nav-tabs .nav-link {
    cursor: pointer;
}

.nav-item .active {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}

.container {
    max-width: 800px;
}

#payment-history-table .tabulator-header {
    background-color: #f8f9fa;
}

#payment-history-table .tabulator-row .tabulator-cell {
    vertical-align: middle;
}

.cancel-btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

#inicisModalDiv {
    opacity: 1 !important;
}
