name: Pull Request Workflow (master)

on:
  pull_request:
    branches:
      - master

jobs:
  pull-request-master:
    runs-on: ubuntu-latest
    steps:
      # 코드 체크아웃
      - name: Check out repository
        uses: actions/checkout@v5

      # Node.js 체크아웃
      - name: Check out Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 23.5

      # 외부 private secrets store 접근
      - name: Check out Secrets store
        uses: actions/checkout@v5
        with:
          repository: 'dev-montyoh/secrets-store'
          token: ${{ secrets.SECRETS_STORE_ACCESS_TOKEN }}
          path: secrets-store

      # 외부 private secrets store 로드
      - name: Load secrets
        uses: ./secrets-store/.github/actions/load-secrets
        with:
          SECRETS_STORE_ACCESS_TOKEN: ${{ secrets.SECRETS_STORE_ACCESS_TOKEN }}

      # Github Registry 로그인
      - name: Log in to Github Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ env.DOCKER_REGISTRY_ACCESS_TOKEN }}

      # Github Registry 로그인
      - name: Log in to Github Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ env.DOCKER_REGISTRY_ACCESS_TOKEN }}

      # Docker Image Build
      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/frontend-payment:latest \
          -t ghcr.io/${{ github.repository_owner }}/frontend-payment:${{ github.run_number }} .

      # Docker Push
      - name: Deploy
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/frontend-payment:latest
          docker push ghcr.io/${{ github.repository_owner }}/frontend-payment:${{ github.run_number }}
