name: push-master.yml
on:
  push:
    branches:
      - master

jobs:
  push_master:
    runs-on: ubuntu-latest

    steps:
      # 코드 체크아웃
      - name: Check out repository
        uses: actions/checkout@v5

      # 외부 private secrets store 접근
      - name: Check out Secrets store
        uses: actions/checkout@v5
        with:
          repository: 'dev-montyoh/secrets-store'
          token: ${{ secrets.SECRETS_STORE_ACCESS_TOKEN }}
          path: secrets-store

      # 외부 private secrets store 로드
      - name: Load secrets
        uses: ./secrets-store/.github/actions/load-secrets
        with:
          SECRETS_STORE_ACCESS_TOKEN: ${{ secrets.SECRETS_STORE_ACCESS_TOKEN }}

      # SSH 연결
      - name: Set up SSH
        uses: appleboy/ssh-action@v1
        env:
          DOCKER_REGISTRY_ACCESS_TOKEN: ${{ env.DOCKER_REGISTRY_ACCESS_TOKEN }}
          DOCKER_REGISTRY_USERNAME: ${{ github.repository_owner }}
        with:
          host: ${{ env.EC2_PUBLIC_IP }}
          username: ec2-user
          key_path: ./secrets-store/key/ec2-ssh-key
          envs: DOCKER_REGISTRY_ACCESS_TOKEN,DOCKER_REGISTRY_USERNAME
          script: |
            # 기존 서비스 및 이미지 삭제
            docker ps -q --filter "name=frontend-payment" | xargs -r docker stop
            docker ps -a -q --filter "name=frontend-payment" | xargs -r docker rm
            docker images -q ghcr.io/$DOCKER_REGISTRY_USERNAME/frontend-payment:latest | xargs -r docker rmi -f
            
            # docker-compose.yml 연결 및 특정 서비스 시작
            echo "$DOCKER_REGISTRY_ACCESS_TOKEN" | docker login ghcr.io -u dev-montyoh --password-stdin
            cd /home/ec2-user/app
            curl -L -o docker-compose.yml https://raw.githubusercontent.com/dev-montyoh/iac-terraform/refs/heads/master/docker-compose.yml
            docker-compose pull frontend-payment
            docker-compose up -d frontend-payment